section.filters{
    color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: right;
    opacity: 1;
    
}
li, h2, h1, h3, p, h4, ul, li{
    color: #484848;
}
section.filters button{
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin:11px 30px 11px 0;
    cursor: pointer;
    background-color: #FF5A5F;
}
section.filters button:hover{
    opacity: 0.9;
}
section.filters .locations, section.filters .amenities{
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    padding-left: 30px;
    float: left;
    color: #000;
}
section.filters .amenities{
    border: none;
}
section.filters .locations h3, section.filters .amenities h3{
    font-weight: 600;
    margin: 0px;
    margin-top: 17px;
    padding: 0px;
}
section.filters .locations h4, section.filters .amenities h4 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
}
.popover{
    visibility: hidden;
    position: relative;
    background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    top: 2%;
    padding:25px 10% 20px;
    z-index: 1;
    margin-left: -30px;
    height: 200px;
    overflow: scroll;
}
section.filters .locations:hover > .popover, section.filters .amenities:hover > .popover{
    visibility: visible;
}
.popover li h2{
    padding: 0;
    margin: 0;
}
.popover_list{
    padding:0px;
    margin:0px;
    padding-left: 10%;
}
.popover ul, .popover li{
    padding: 3px 0;
    list-style: none;
}